In [2]:
import pandas as pd
import numpy as np
! pip install wikipedia
import wikipedia as wp

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikipedia) (4.7.1)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikipedia) (2.21.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.7.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [3]:
html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('List_of_postal_codes_of_Canada.csv',header=0,index=False)
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
#Removing Not Assigned Bourough
df_new = df[df['Borough'] != 'Not assigned'] 
df_new.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

## Updating Neighborhood

In [19]:
df_new['Neighborhood'] = np.where((df_new.Neighborhood == 'Not assigned'),df_new.Borough,df_new.Neighborhood)
df_new=df_new.groupby(['Postcode','Borough'])['Neighborhood'].agg(','.join).reset_index()
df_new.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

# Shape

In [16]:
df_new.shape

(103, 5)

## Exploring data

In [28]:
!pip install geopy

Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.18.1)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.49)

In [25]:
Scarborough_data = df_new[df_new['Borough'] == 'Scarborough'].reset_index(drop=True)
Scarborough_data.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [35]:
from geopy.geocoders import Nominatim
address = 'Scarborough, ON'
geolocator = Nominatim(user_agent="courseeracapstone")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Scarborough are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Scarborough are 43.773077, -79.257774.

In [36]:
CLIENT_ID = 'H3VKU3AWSGY4ITJIHY3WRGZPVM2SS1R42W2WBAGAEL3SKCWM' # your Foursquare ID
CLIENT_SECRET = 'VD0X1N12MSC4HKBJU31VHMTPRBYOA4CGLV0XBJUA3ZI5BIP2' # your Foursquare Secret
VERSION = '20200110' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: H3VKU3AWSGY4ITJIHY3WRGZPVM2SS1R42W2WBAGAEL3SKCWM
CLIENT_SECRET:VD0X1N12MSC4HKBJU31VHMTPRBYOA4CGLV0XBJUA3ZI5BIP2

In [37]:
Scarborough_data.loc[0, 'Neighborhood']

'Rouge,Malvern'